<header class="bg-sasa-main fixed-top d-flex align-items-center justify-content-between px-5 shadow" style="height:90px;margin-left:240px;width:calc(100% - 240px);">
    <div>
        <h1 class="h4 m-0 fw-bold text-uppercase">Tablero de Control</h1>
        <small class="fw-bold opacity-75">SISTEMA ACTIVO</small>
    </div>
    <div class="text-end text-white">
        <div id="reloj" class="h3 m-0 fw-bold"></div>
        <small id="fecha" class="text-uppercase fw-bold" style="font-size:0.75rem;"></small>
    </div>
</header>