{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section class="col-8 mx-auto mt-4">
    <section id="vistaLista" class="view-section active pt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold" style="color: #333;">Proveedores</h2>
            <button class="btn text-white px-4 py-2 shadow-sm" style="background-color: var(--sasa-rojo); border-radius: 12px;" onclick="showView('registro')">
                
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus-circle me-2"></i> Nuevo Proveedor
</button>
        </div>

        <div class="card-sasa">
            <table class="table table-hover align-middle text-center table-sasa">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaProveedores">
                    </tbody>
            </table>
        </div>
    </section>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}

       {{form|crispy}}
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
      
        </form>
      
      
    </div>
  </div>
</div>
  </section>
  {% endblock content %}